<div id="wrapper" class="">
  <div id="nav" class="" data-nav="true">
    <%= link_to "Gifrap", root_path %>

    <span class="" data-name="true"><%= current_user.name %></span>

    <%= link_to "New Image", new_image_path %>
  </div>

  <% if @first_visit %>
    <div id="welcome" class="" data-welcome="true">
      Welcome to Gifrap!
    </div>
  <% end %>

  <div id="container" class="relative border-4 border-transparent" data-controller="uploader" data-shubox-key="<%= ENV['SHUBOX_KEY'] %>">
    Drag and drop
    <button>Click to Upload</button>

    <div id="image_form" class="fixed inset-0 hidden items-center justify-center bg-gray-900 bg-opacity-50">
      <%= render partial: "images/form", locals: { image: @image } %>
    </div>
  </div>
</div>
