<!DOCTYPE html>
<html>
  <head>
    <title>Gifrap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'styles.css' %>
  </head>

  <body>
    <div id="wrapper" class="">
      <div id="nav" class="" data-nav="true">
        <%= link_to "Gifrap", root_path %>
        <span class="" data-name="true"><%= current_user.name %></span>
        <%= link_to "New Image", new_image_path %>
      </div>

      <% if @first_visit %>
        <div id="welcome" class="" data-welcome="true">
          Welcome to Gifrap!
        </div>
      <% end %>

      <%= render "flashes" %>

      <%= yield %>
    </div>
  </body>
</html>
